@font-face {
    font-family: 'visitor';
    src: url(../fonts/visitor/visitor1.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'visitor', monospace;
}

body {
    background-color: #101010;
    display: flex;
    justify-content: center;
}

.container {
    margin-top: 5rem;
    width: 800px;
    height: 450px;
    background-color: white;
    overflow: hidden;
    position: relative;
}

#home {
    width: 100%;
    height: 100%;
    display: flex;
}

#home .left {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home .left .btn-group {
    width: 80%;
}

#home .left .btn-group button {
    cursor: pointer;
    display: block;
    width: 100%;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    margin: 1rem auto;
}

#home .right {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home .right .hero h1 {
    text-align: center;
    font-size: 3rem;
}

#home .right .hero img {
    display: block;
    margin: auto;
    width: 150px;
}

#home .top {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem 1rem;
}

#btn-pause {
    display: none;
    position: absolute;
    z-index: 800;
    top: 0;
    right: 0;
    transform: scaleX(150%);
    font-size: 1.5rem;
    padding: 0.1rem 0.25rem;
    margin: 0.5rem 1rem;
    cursor: pointer;
}

#home .top .btn-group button {
    cursor: pointer;
    display: inline-block;
    padding: 0.1rem 0.5rem;
}

.modal {
    position: absolute;
    top: 0;
    z-index: 900;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 10%);
    display: none;
}

.modal .modal-container {
    background-color: whitesmoke;
    margin: auto;
    width: 60%;
    max-height: 70%;
    border: 1px solid #767676;
    border-radius: 4px;
    padding: 2rem 7%;
    overflow-y: auto;
    position: relative;
}

.modal .modal-container h2 {
    text-align: center;
}

.modal .modal-container .leaderboard-table {
    margin-top: 1rem;
    width: 100%;
    text-align: center;
}

.modal .modal-container .credit-list {
    margin-top: 0.5rem;
    text-align: center;
    list-style: none;
}

.modal .modal-container .help-list li {
    margin-top: 0.5rem;
    font-size: 1rem;
    font-family: monospace;
    text-align: justify;
}

.modal .modal-container .btn-group {
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.modal .modal-container .btn-group button {
    cursor: pointer;
    font-size: 1.2rem;
    padding: 0.25rem 1rem;
}

table, th, td {
    border: 1px solid #101010;
    border-collapse: collapse;
}

th, td {
    padding: 0.25rem 1rem;
    font-family: monospace;
    font-size: 1rem;
}

.modal .modal-container .close-modal {
    font-size: 1.5rem;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

#canvas {
    display: block;
    margin: auto;
    background-color: gold;
    border: 1px solid #767676;
    width: 800px;
    height: 450px;
}

.game-controller {
    position: absolute;
    width: 100%;
    height: 100%;
}

.game-controller span,
.game-controller button {
    display: inline-block;
    opacity: 0;
    width: 48%;
    height: 100%;
}

.game-img {
    display: none;
}

@media screen and (max-width: 767px) {
    .container {
        margin-top: 0;
        width: 450px;
        height: 800px;
    }

    #home {
        flex-direction: column-reverse;
    }

    #home .left {
        width: 100%;
        height: 45%;
    }

    #home .right {
        width: 100%;
        height: 55%;
        align-items: end;
    }

    #home .top {
        padding: 0.5rem;
    }

    #home .top .btn-group button {
        font-size: 1rem;
    }

    .modal .modal-container {
        width: 90%;
    }
    
    .modal .modal-container .help-list li {
        line-height: 1.6;
    }

    #canvas {
        /* margin: 1rem auto; */
        width: 450px;
        height: 800px;
    }

    /* .game-controller {
        bottom: 0;
        height: 40%;
        justify-content: space-around;
        align-items: center;
        padding: 1rem;
    }

    .game-controller button {
        width: 45%;
        height: 200px;
        opacity: 1;
        font-size: 5rem;
    } */
}